.order-table {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .ant-table {
    margin-bottom: 20px;
  }
  
  .ant-btn {
    margin-right: 10px;
  }
  